@page "/DxWorkbook"
@using WasmDx.Client.Utils
@inject NavigationManager NavigationManager

<PageTitle>DxWorkbook</PageTitle>

<h1>Download XLSX file</h1>

<a href="@(NavigationManager.BaseUri + RouteUrls.GenerateXlsxFile)" target="_blank" class="btn btn-primary">
  Download XLSX file
</a>
